<script setup>
import TheMenu from '../layout/TheMenu.vue'
import TheHeader from '../layout/TheHeader.vue'
import { useStepStore } from '../stores/step'
import StartupScreen from '../components/start/StartupScreen.vue'
import SetupScreen from '../components/start/SetupScreen.vue'
import { onMounted, ref } from 'vue'

const stepStore = useStepStore()

onMounted(() => {
  console.log(stepStore.isSetup)
  if (stepStore.isSetup === false) {
    console.log('entro')
    currentStep.value = 'nav'
  } else {
    currentStep.value = 'startup'
  }
  console.log(currentStep.value)
})

const currentStep = ref('startup')

const plants = [
  { title: 'Plant 1', img: '../../public/p1.jpg' },
  { title: 'Plant 2', img: '../../public/p2.jpg' },
  { title: 'Plant 3', img: '../../public/p3.jpg' },
  { title: 'Plant 4', img: '../../public/p4.jpg' },
  { title: 'Plant 5', img: '../../public/p5.jpg' }
]
</script>

<template>
  <StartupScreen v-if="stepStore.currentStep === 'startup'" @setFarmType="currentStep = 'setup'" />
  <SetupScreen v-if="stepStore.currentStep === 'setup'" @endReached="currentStep = 'nav'" />
  <div v-if="stepStore.currentStep === 'nav'" class="h-screen relative w-full">
    <TheHeader />
    <div>
      <h1 class="font-semibold text-green-800 font-playfair px-5 text-4xl">
        Coltiva la tua <br />felicità
      </h1>
    </div>

    <div
      class="w-5/6 my-5 h-40 p-5 flex items-center justify-center rounded-3xl bg-slate-50 mx-auto"
    >
      <div class="font-extralight text-lg py-5">
        Il <span class="font-semibold text-4xl px-1">90%</span> <br />delle tue piante <br />
        è in salute
      </div>
      <img
        src="../../public/add-plant.png"
        alt=""
        class="h-full w-auto object-cover object-center"
      />
    </div>
    <p class="px-5 font-extralight text-sm">Oggi dovresti controllare:</p>
    <div class="py-4 px-5 flex gap-3 snap-mandatory snap-x w-full overflow-scroll">
      <div v-for="p in plants" :key="p.title" class="rounded-xl flex flex-col justify-center items-center snap-start">
        <img :src="p.img" alt="" class="h-20 w-20 object-cover rounded-xl" />
        <p class=" font-extralight text-xs">{{ p.title }}</p>
      </div>
    </div>
    <TheMenu />
  </div>
</template>
