<script setup>
import { ref } from 'vue'
import { useStepStore } from '../../stores/step'
import { useWeatherStore } from '../../stores/weather'

const weatherStore = useWeatherStore()

const apiKey = 'bfb94d78950a1af2ff6f3003b934581c'
const city = ref('Varese')

const stepStore = useStepStore()

const title = [
  {
    title: "Dov' è il tuo orto?",
    subtitle: 'Hai bisogno di aiuto per le piante da Interno, da esterno o entrmabe?',
    step: 0
  },
  {
    title: 'Quanto è grande il tuo orto?',
    subtitle:
      'Che sia un vasetto o un orto per noi non fa differenza, ti daremo gli strumenti migliori per le tue esigenze',
    step: 1
  }
]
const plantLocation = [
  {
    title: 'Interno',
    subtitle: 'Cura delle piante da interno',
    img: '../../../public/interior.jpg'
  },
  {
    title: 'Esterno',
    subtitle: 'Cura delle piante in giardino, terrezza o terreno',
    img: '../../../public/exterior.jpg'
  },
  {
    title: 'Interno e esterno',
    subtitle: 'Per te che sei circondato dal verde',
    img: '../../../public/int-ext.jpg'
  }
]
const farmSize = [
  { title: 'Una o poche piante', subtitle: 'Lorem ipsum', img: '../../../public/plant-small.jpg' },
  {
    title: 'Moderata',
    subtitle: 'Lorem ipsum Lorem ipsum',
    img: '../../../public/plant-medium.jpg'
  },
  { title: 'Terreno', subtitle: 'Lorem ipsum Lorem ipsum', img: '../../../public/plant-large.jpg' }
]
const weatherData = ref(undefined)
const isLoading = ref(true)
async function getWeatherData() {
  const url = `https://api.openweathermap.org/data/2.5/weather?q=${city.value}&units=metric&appid=${apiKey}`
  try {
    const response = await fetch(url)
    const data = await response.json()
    weatherData.value = data
    isLoading.value = false
  } catch (error) {
    console.log('Error:', error)
  }
}

const currentStep = ref(0)
const selectPlantLocation = () => {
  currentStep.value = 1
}
const selectFarmSize = () => {
  currentStep.value = 2
}
const submitLocation = async () => {
  console.log('entro')
  await getWeatherData()
  if (!isLoading.value) {
    weatherStore.data = weatherData.value
    stepStore.updateSetupStatus(false)
    stepStore.currentStep = 'nav'
  }
}
</script>

<template>
  <div
    class="h-screen w-full px-5 pt-10 pb-5 relative flex flex-col justify-between bg-slate-100 overflow-hidden z-50"
  >
    <img
      src="../../../public/plant-titles.png"
      alt=""
      class="w-full object-cover absolute left-0 -bottom-20 transform -scale-y-100 z-10"
    />
      <img
      v-if="currentStep === 2"
      src="../../../public/plant-titles.png"
      alt=""
      class="w-full object-cover absolute right-0 -top-20 transform -scale-x-100 z-10"
    />
    <div v-for="t in title" :key="t.step" class="z-10">
      <div v-if="t.step === currentStep">
        <h1 class="font-semibold">{{ t.title }}</h1>
        <p class="font-light">{{ t.subtitle }}</p>
      </div>
    </div>
    <div v-if="currentStep === 0" class="z-20">
      <div v-for="opt in plantLocation" :key="opt.title" class="py-5">
        <div class="flex w-full justify-start">
          <img
            :src="opt.img"
            alt=""
            class="w-32 h-32 min-w-[8rem] object-cover pe-4"
            @click="selectPlantLocation"
          />
          <div class="w-full">
            <p class="font-semibold pt-1">{{ opt.title }}</p>
            <p class="text-xs font-extralight">{{ opt.subtitle }}</p>
          </div>
        </div>
      </div>
    </div>

    <div v-if="currentStep === 1" class="z-20">
      <div v-for="opt in farmSize" :key="opt.title" class="py-5">
        <div class="flex w-full">
          <img
            :src="opt.img"
            alt=""
            class="w-32 h-32 min-w-[8rem] object-cover pe-4"
            @click="selectFarmSize"
          />
          <div>
            <p class="font-semibold pt-1">{{ opt.title }}</p>
            <p class="text-xs font-extralight">{{ opt.subtitle }}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="currentStep === 2"
      class="h-screen w-full flex flex-col justify-center items-center gap-10"
    >
      <div class="w-4/5">
        <h1 class=" font-semibold">Dove pianterai le tue piante?</h1>
        <p class=" font-extralight">Indica la tua città</p>
      </div>
      <input type="text" name="" id="" v-model="city" class="rounded-lg font-light py-3 ps-2 w-4/5" />
      
        <button
          class="rounded bg-green-800 text-white font-extralight py-1 w-3/5"
          @click="submitLocation"
        >
          INVIA
        </button>
      </div>
    </div>
</template>