<script setup>
import { ref, computed } from 'vue'
import { useStepStore } from '../../stores/step'

const stepStore = useStepStore()
const text = [
  {
    title: 'Cresci le piante che preferisci',
    subtitle: 'Pianterai ti seguira passo dopo passo',
    step: 0
  },
  {
    title: 'Prenditi cura delle tue piante',
    subtitle: "Grazie all'intelligenza artificiale potrai comprendere meglio i loro bisogni",
    step: 1
  },
  {
    title: 'Comprendi i loro bisogni',
    subtitle: 'Puoi capire quali sono i bisogni della tua pianta grazie al nostro scanner',
    step: 2
  }
]
const currentStep = ref(0)
const handleClick = () => {
  if (currentStep.value >= 2) {
    stepStore.currentStep = 'setup'

  }
  currentStep.value = currentStep.value += 1
}

const getImagePath = computed(()=> {
  if(currentStep.value === 0){
    return "../../public/plant1.png"
  }
  else if(currentStep.value === 1){
    return "../../public/plant2.png"
  }
  else return "../../public/plant3.png"

}) 

</script>

<template>
  <div class="h-screen w-screen flex flex-col justify-between relative">
    <div class="flex justify-center gap-2 py-5">
      <div v-for="i in 3" :key="i">
        <div
          :class="{ 'rounded bg-gray-200 h-2 w-2': true, 'bg-green-600': currentStep === i - 1 }"
        ></div>
      </div>
    </div>

    <div v-for="t in text" :key="t.step">
      <div v-if="currentStep === t.step" class="py-5 px-3 flex flex-col justify-end">
        <h1 class="font-extralight text-4xl pb-2">{{ t.title }}</h1>
        <p class="font-extralight">{{ t.subtitle }}</p>
      </div>
    </div>

    <img :src="getImagePath" alt="" class=" h-4/6 w-full object-cover object-top" />
    <button
      class="bg-gray-100 absolute bottom-10 w-2/4 py-2 font-extralight left-0 right-0 mx-auto"
      @click="handleClick"
    >
      AVANTI
    </button>
  </div>
</template>

