<template>
  <svg viewBox="0 0 81 77" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="16" cy="16" r="16" fill="#none" />
    <circle cx="65" cy="61" r="16" fill="#none" />
    <circle cx="16" cy="61" r="16" fill="#none" />
    <circle cx="65" cy="16" r="16" fill="#none" />
  </svg>
</template>