<script setup>
import { useWeatherStore } from '../stores/weather'

const weatherStore = useWeatherStore()

console.log(weatherStore.data)
const getWeatherIconUrl = () => {
  const iconBaseUrl = 'http://openweathermap.org/img/wn/'
  return `${iconBaseUrl}${weatherStore.data.weather[0].icon}.png`
}
</script>

<template>
  <div class="flex items-top justify-between py-5 px-3">
    <div>
      <img src="../../public/pitto.svg" alt="" class="w-auto h-12" />
    </div>
    <div class="flex items-center">
      <div>
        <p class="font-extralight text-xs">{{ weatherStore.data.name }}</p>
        <p class="font-extralight text-[0.6rem]">{{ weatherStore.data.weather[0].description }}</p>
      </div>
      <img :src="getWeatherIconUrl()" alt="" class="h-15 w-15" />
    </div>
  </div>
</template>