<!-- eslint-disable no-unused-vars -->
<script setup>
import { RouterLink, RouterView } from 'vue-router'

const nav = [
  { title: 'Home', icon: '../../public/home.svg' },
  { title: 'Search', icon: '../../public/search.svg' },
  { title: 'Camera', icon: '../../public/camera.svg' },
  { title: 'Health', icon: '../../public/health.svg' },
  { title: 'Giardino', icon: '../../public/plant.svg' }
]
const handleClick = (val) => {
console.log(val)
}
</script>
<template>
  <div
    class="bg-green-800 rounded-md absolute bottom-2 left-0 right-0 mx-auto w-5/6 py-2 flex justify-around"
  >
    <div v-for="v in nav" :key="v.title" class="flex flex-col justify-center items-center">
      <img :src="v.icon" alt="" class="h-5 w-5">
      <div class="text-xs font-extralight text-white" @click="handleClick(v.title.toLowerCase())">{{ v.title }}</div>
    </div>
  </div>
</template>
